<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <div class="topnav">
        <a class="active" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('get_playlists') }}">Playlists</a>
        <a href="{{url_for('recommend_songs')}}">Song Recs</a>
        <a href="#">Account</a>
      </div> 
</head>
<body>
    <h1>This is a temporary page. This will be changed to the page for the actual application later.</h1>
    <a href="{{url_for('logout')}}">Logout</a> <!--link that routes to login page after logging out -->
</body>
</html>