<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <div class="topnav">
        <a class="active" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('get_playlists') }}">Playlists</a>
        <a href="{{url_for('recommend_songs')}}">Song Recs</a>
        <a href="#">Account</a>
      </div> 
</head>
<body>
    <h1>Login Page</h1>
    <form method ="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <a href="{{url_for('register')}}">Don't have an account? Sign up here!</a> <!--link that routes to sign up page-->
</body>
</html>
