<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Playlist</title>
    <div class="topnav">
        <a class="active" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('get_playlists') }}">Playlists</a>
        <a href="{{url_for('recommend_songs')}}">Song Recs</a>
        <a href="#">Account</a>
      </div> 
</head>
<body>
    <h2>Create a New Playlist</h2>
    <form method="POST" action="{{ url_for('create_playlist') }}">
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.name.label }} {{ form.name(size=32) }}
        </div>
        <div>
            {{ form.public_check.label }} {{ form.public_check() }}
        </div>
        <div>
            {{ form.description.label }} {{ form.description(size=64) }}
        </div>
        
        <button type="submit">{{ form.submit.label }}</button>
    </form>
</body>
</html>
