<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <nav class="navbar">
        <ul>
            <li><p>Game-Play</p></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="">Playlists</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </nav>
</head>
<body>
    <h1>Temporary playlist page</h1>
    <a href="{{url_for('logout')}}">Logout</a> <!--link that routes to login page after logging out -->
</body>
</html>