<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Songs</title>
    <div class="topnav">
        <a class="active" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('get_playlists') }}">Playlists</a>
        <a href="{{ url_for('recommend_songs') }}">Song Recs</a>
        <a href="#">Account</a>
    </div>
</head>
<script>
    function outputUpdate(numSongs){
        document.querySelector('#selected-number-of-songs').value = numSongs;
    }
    function resetSliderPosition(){
        const slider = document.querySelector('[name="numSongs"]')
        slider.value = 1;
        outputUpdate(1);
    }
    window.onload = function(){
        resetSliderPosition();
    }
</script>
<body>
    {% if nameOfGame %}
        <h1>Recommended Songs</h1>
        <p>{{ GPTResponse }}</p>
        {% if recommendedSongs %}
            <h2>Recommended Tracks:</h2>
            <ul>
                {% for song in recommendedSongs %}
                    <li>
                        {{ song.name }} by {{ song.artist }}
                        {% if song.preview_url %}
                            <a href="{{ song.preview_url }}" target="_blank">Play song preview</a>
                        {% else %}
                            <span>No song preview available</span>
                        {% endif %}
                        <form method="POST" action="{{ url_for('add_to_playlist') }}">
                            <label for="playlist_{{ loop.index }}">Choose a playlist:</label>
                            <select name="playlist_id" id="playlist_{{ loop.index }}">
                                {% for name, playlist_id in playlists %}
                                    <option value="{{ playlist_id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="song_url" value="{{ song.spotify_url }}">
                            <button type="submit">Add to Playlist</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>            
        {% else %}
            <p>Unable to generate recommended songs</p>
        {% endif %}
    {% else %}
        <h1>Get new song recommendations</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.nameOfGame.label }} {{ form.nameOfGame() }}
            </div>
            <p>
                {{ form.numSongs.label }}
                {{ form.numSongs(min=1, max=20, oninput="outputUpdate(value)") }}
                <output for="numSongs" id="selected-number-of-songs">{{ form.numSongs.data }}</output>
            </p>
            <div>
                {{ form.submit }}
            </div>
        </form>
    {% endif %}
</body>
</html>
