<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Song</title>
    <div class="topnav">
        <a class="active" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('get_playlists') }}">Playlists</a>
        <a href="{{ url_for('account') }}">Account</a>
        <a href="{{ url_for ('recommend_songs')}}">Get Recommended Songs</a>
        <a href="{{url_for('logout')}}">Logout</a> <!--link that routes to login page after logging out -->
    </div>
</head>


<script>
    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        // Decode the main song URI
        const mainSongUri = decodeURIComponent("{{ song_URI }}");
        const mainOptions = { uri: mainSongUri };
        const embedContainer = document.getElementById('embed-iframe');
        IFrameAPI.createController(embedContainer, mainOptions, () => {});

        // Render recommended songs
        var recommendedSongs = JSON.parse('{{ recommendedSongs | tojson }}');
        recommendedSongs.forEach(song => {
            const element = document.createElement('div'); // Create a div for each song
            const options = {
                uri: decodeURIComponent(song.song_URI)
            };
            IFrameAPI.createController(element, options, () => {});
            embedContainer.appendChild(element); // Append to the embed container
        });
    }
</script>

<body>
    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
    <div id="embed-iframe"></div>

    {% if songDetails is defined %}
    <p>
        Artist(s): {{ songDetails.artistNames }}
        <br>
        Song Name: {{ songDetails.songName }}
        <br>
        Album Name: {{ songDetails.albumName }}
        <br>
        Release Date: {{ songDetails.releaseDate }}
    </p>
    {% endif %}
</body>

</html>
