<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Song</title>
</head>

<script>
    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        const element = document.getElementById('embed-iframe');
        const options = {
            uri: "{{ song_URI }}"
        };
        const callback = (EmbedController) => { };
        IFrameAPI.createController(element, options, callback);
    };
</script>

<body>
    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>

    <div id="embed-iframe">
        {% for song in recommendedSongs %}
        <script>
            window.onSpotifyIframeApiReady = (IFrameAPI) => {
                const element = document.createElement('div');  // createe a new div for each song iFrame
                const options = {
                    uri: "{{ song.song_URI }}"  // passes the actual song URI dynamically here
                };
                const callback = (EmbedController) => { };
                IFrameAPI.createController(element, options, callback);
                document.getElementById('embed-iframe').appendChild(element);  // appends to the existing container for iFrame
            };
        </script>
        {% endfor %}
    </div>
</body>

</html>